{% extends "base.html" %}
{% load static %}
{% block title %} User Registration {% endblock  %}

{% block content %}
      <h2> Registration Form </h2>

     <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <label for="Username">Username</label>
        <br>
        <br>
        {{ form.username }}
        <br>
        <br>
        <label for="Username">Email</labebl>
        <br>
        <br>
        {{ form.email}}
        <br>
        <br>
        <label for="Username">password</label>
        <br>
        <br>
        {{ form.password1}}
        <br>
        <br>
        <label for="Username">Re-Type Password</label>
        <br>
        <br>
        {{ form.password2}}
        <br>
        <br>
       <button type="submit">submit</button>
       </form>

    {% if messages %}
    {% for message in messages %}

     
    <p>{{message}}</p>


    {% endfor %}
    {% endif %}




{% endblock %}