<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add a new student</title>
</head>
<body>
    <h1>Add Student</h1>
    {% if messages %}
    {% for message in messages %}

     <p>{{message}}</p>

     {% endfor %}
     {% endif %}

     <form action="{% url 'add-student' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

         {{ form.as_p }}

        <button type="submit">submit</button>
    </form>
</body>
</html>