{% extends "base.html"  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1> Show all Students</h1>
    {% if messages %}
    {% for message in messages %}

     
    <p>{{message}}</p>


    {% endfor %}
    {% endif %}

    {% if data %}
    <ul>
    {% for students in data %}
     <table>id :{{students.id}}</table>
     <table>Name : {{students.Name}}</table>
     <table>Age : {{students.Age}}</table>
     <table>Course : {{students.Course}}</table>
     <table>image:<br> <img src="{{ students.image.url }}" alt=""></table>
     <table>create_at :{{students.create_at}}</table>
     <br/>
    {% endfor %}
    </ul>
    {% else %}
       <h2> No Available Data </h2>
    {% endif %}
      
    
</body>
</html>